@mixin defaultButton {
  border: none;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.1em;
  padding: 0.5em;
  border-radius: 1em;
  border: 0.15em solid $white;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease-in-out;

  &:hover {
    border: 0.15em solid $black;
    color: $black;
    background: $white;
  }
}

@mixin font-weight {
  font-weight: 400;

  @media (max-width: 768px) {
    font-weight: 300;
  }
}

@mixin borders {
  content: "";
  background: #cbb3e3;
  height: 0.05em;
  display: block;
  width: 100%;
}
