@mixin mainContentStyles {
  display: grid;
  gap: 2.5em 2.5em;
  grid-template-columns: repeat(20, 200px);
  scrollbar-width: none;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin defaultButton {
  border: none;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.05em;
  padding: 0.5em;
  outline: 5px double lighten($white, 10%);
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: outline-offset 0.25s ease-in-out;
  outline-offset: -4px;

  &:hover {
    outline: thick double lighten($accent, 10%);
    outline-offset: 0;
  }
}

@mixin borders {
  content: "";
  background: $accent;
  height: 1px;
  display: block;
}

@mixin controlButtons {
  position: absolute;
  top: 50%;
  background: rgba(20, 20, 20, 0.8);
  color: $white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(0, -50%);
  background: $night-sky;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.75em;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

@mixin loadingStyle {
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: loading_animation 0.75s ease-in-out alternate infinite;
  margin: 0.25em;
}
