$purple: #802bb1;
$main: #2d283e;
$lightGrey: #564f6f;
$darkGrey: #4c495d;
$white: rgb(209, 215, 224);
$black: rgb(20, 20, 20);
$boxShadowForCards: 5px 5px 10px 5px #000000;
$mobileFontSizeMain: 16px;
$mobileFontSizeSmaller: 14px;
$mobileFontSizeHeader: 20px;
$mobileFontSizeSmallerHeader: 18px;
$desktopFontSizeMain: 20px;
$desktopFontSizeHeader: 24px;
$desktopFontSizeSmallerHeader: 22px;
