$accent: #e3cdb3;
$main-bg-color: #060607;
$night-sky: #111f28;
$moonlight: #484e52;
$white: #ececec;
$black: #010101;
$mobileFontSizeMain: 1em;
$mobileFontSizeSmaller: 0.875em;
$mobileFontSizeHeader: 1.25em;
$mobileFontSizeSmallerHeader: 1.125em;
$desktopFontSizeMain: 1.25em;
$desktopFontSizeHeader: 1.625em;
$desktopFontSizeSmallerHeader: 1.375em;
