@import "mixins";
@import "keyframes";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;400&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Montserrat", sans-serif;
  background: $main-bg-color;
  scroll-behavior: smooth;
  scrollbar-color: $accent $main-bg-color;
  scrollbar-width: thin;
  height: 100%;
}

body {
  transition: all 0.25s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

// helper classes

.overflow-hidden {
  overflow: hidden;
}

// helper classes

.swiper-container {
  width: 95vw;
  // display: none;
}

.swiper-wrapper {
  padding: 1em 0;
  animation: fade_in_article 0.75s ease-in-out;
  .swiper-slide {
    overflow: hidden;

    article {
      width: 100%;
      transition: all 0.25s ease-in-out;
      overflow: hidden;
      height: 20em;
      img {
        height: 100%;
        width: 100%;
      }

      @media (max-width: 768px) {
        height: 15em;
      }
    }

    .articleInformation {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      place-items: center;
      text-align: center;
      transition: all 0.25s ease-in-out;
      color: $white;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 100%;
      background: rgba(0, 0, 0, 0.65);

      .cardHeader {
        text-align: center;
        font-size: $smallerHeaderSizeQuery;
        text-transform: none;
        padding: 0 0.25em;
        font-family: "Architects Daughter", cursive;
      }

      .cardDetails {
        @include defaultButton();
        font-size: $defaultFontSizeQuery;
      }

      .cardStartDate {
        font-size: $defaultFontSizeQuery;
      }

      @media (max-width: 768px) {
        right: 0;
      }
    }
    .active {
      right: 0;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  &::after {
    color: #cbb3e3;
    z-index: 2;
    transform: scale(1.2);
  }
}

nav {
  background: $black;
  position: fixed;
  top: 0;
  width: 100%;
  background: $black;
  z-index: 999;
  .nav-wrapper {
    padding: 0.25em 0;
    display: flex;
    place-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    width: 95vw;
    margin: 0 auto;
  }

  .nav-header {
    font-size: $desktopHeaderSizeQuery;
    font-family: "Architects Daughter", cursive;

    a {
      text-decoration: none;
      color: #cbb3e3;
    }
  }

  .desktop-nav-links {
    a {
      padding: 0 0.5em;
      text-decoration: none;
      color: $white;
      &:hover {
        border-bottom: 0.15em solid $accent;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .burger {
    display: none;
    z-index: 10;
    position: relative;
    right: 0;

    gap: 0.25em;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    .bar {
      width: 3em;
      height: 0.25em;
      background: $white;
      transition: all 0.5s ease-in-out;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

.open {
  :nth-child(1) {
    transform: translate(0, 0.5em) rotate(40deg);
  }
  :nth-child(2) {
    transform: translateX(-100%) rotate(180deg);
    opacity: 0;
  }
  :nth-child(3) {
    transform: translate(0, -0.5em) rotate(-40deg);
  }
}

.mobile-nav {
  width: 0;
  transform: translateX(-100vw);
  height: 100%;
  flex-flow: column wrap;
  justify-content: space-evenly;
  place-items: center;
  z-index: 9;
  position: fixed;
  top: 0;
  background: $black;
  transition: all 0.25s ease-in;

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.5s ease;
    opacity: 0;
  }

  :nth-child(1) {
    transform: translateX(-100em);
    opacity: 0;
  }

  :nth-child(2) {
    transform: translateX(-100em);
    opacity: 0;
  }

  :nth-child(3) {
    transform: translateX(-100em);
    opacity: 0;
  }
}

.mobile-nav-active {
  display: flex;
  width: 100%;
  transform: translateX(0);

  :nth-child(1) {
    opacity: 1;
    transition-delay: 0.15s;
    transform: translateX(0);
  }

  :nth-child(2) {
    opacity: 1;
    transition-delay: 0.25s;
    transform: translateX(0);
  }

  :nth-child(3) {
    opacity: 1;
    transition-delay: 0.35s;
    transform: translateX(0);
  }
}

.hero {
  animation: fade_in_article 0.5s ease-in-out;
  min-height: calc(100vh + 5em);
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../../images/hero-alt.png") no-repeat center center/ cover;
}

.hero-overlay-wrapper {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  width: 95vw;
  margin: 0 auto;
  animation: fade_in_article 0.5s ease-in-out;

  .hero-overlay {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: max-content;
    span {
      font-family: "Montserrat", sans-serif;
      color: $white;
    }

    .hero-overlay__header {
      h2 {
        font-size: $desktopLargeHeaderQuery;
        @include font-weight();
        text-transform: uppercase;
        color: #cbb3e3;
        line-height: 1;
        letter-spacing: 0.25em;
        text-shadow: 0.5em 0.5em 0.75em $black;
        font-family: "Architects Daughter", cursive;
      }
    }

    .hero-overlay__description {
      font-size: $defaultFontSizeQuery;
      @include font-weight();
      color: $white;
      text-shadow: 0.5em 0.5em 0.75em $black;
      max-width: 60ch;
    }

    .hero-overlay__link {
      place-self: flex-end;
      text-decoration: none;
      padding: 1em 1.75em;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 0.5em 0.5em 0.75em $black;
      @include font-weight();
      transition: all 0.25s ease-in-out;
      border-radius: 1em;
      background: transparent;
      border: 0.15em solid #829f7d;
      color: $white;
      &:hover {
        border: 0.15em solid #829f7d;
        color: $black;
        background: #829f7d;
      }
    }

    .hero-overlay__icon-stack {
      width: 30%;
      display: flex;
      place-items: center;
      justify-content: space-between;
      gap: 1em 1em;

      a {
        color: $white;
        font-size: $smallerHeaderSizeQuery;
      }
    }
  }
}

.main-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  place-items: center;
  gap: 2em 2em;
  padding: 5em 0;
  background: $black;
  transition: all 0.5s ease-in-out;
}

.main-content__header {
  color: #cbb3e3;
  text-transform: uppercase;
  font-size: $desktopHeaderSizeQuery;
  display: flex;
  place-items: center;
  font-family: "Architects Daughter", cursive;
  width: 96vw;

  &::before,
  &::after {
    @include borders();
    margin: 0 0.5em;
  }
}

form {
  border: none;
  outline: none;
  width: 90%;
  max-width: 40em;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  border: 0.15em solid $white;
  border-radius: 1em;
  padding: 0.25em;
  font-size: $defaultFontSizeQuery;
  button {
    padding: 0.5em;
    background: none;
    color: $white;
    font-size: inherit;
    cursor: pointer;
  }

  input {
    padding: 0.5em;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    color: $white;
    font-size: $defaultFontSizeQuery;
    transition: box-shadow 0.25s ease-in-out;

    &::placeholder {
      color: $white;
    }
  }
}

.search-content {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../images/search.jpg") no-repeat bottom left/cover;
}

.discover-content {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../images/discover.png") no-repeat top right/cover;
}

.search-content,
.discover-content {
  min-height: calc(100vh + 5em);
  animation: fade_in_article 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-start;
  gap: 2em;
  padding: 5em 0;
  header {
    padding: 1em 0.75em;
  }
}

.error {
  color: $white;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  top: 10em;
  padding: 1em;
}

.loading {
  width: 6.2em;
  height: 6.2em;
  border: 0.25em solid $accent;
  border-right: 0.25em solid transparent;
  align-self: center;
  border-radius: 50%;
  background: transparent;
  animation: loading_animation 1.5s linear infinite;
}

select {
  background: $white;

  color: $black;
  font-size: $defaultFontSizeQuery;
  margin: 0 auto;
  padding: 0.5em;
  width: 80%;
  border-radius: 2em;
  transition: all 0.25s ease-in-out;
  &:focus,
  &:hover {
    outline: none;
    outline: 0.15em solid $accent;
    cursor: pointer;
  }

  option {
    color: $black;
  }
}

.about-content {
  min-height: calc(100vh + 5em);
  animation: fade_in_article 0.5s ease-in-out;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url("../../images/about.jpg") no-repeat center center / cover;
  display: flex;
  place-items: center;
  justify-content: center;

  .about-content__cont {
    header {
      font-size: $desktopHeaderSizeQuery;
      h2 {
        color: $accent;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .about-content__description {
      padding: 0.5em;

      p {
        max-width: 60ch;
        color: $white;
        text-align: center;
      }
    }
  }
}

.actor-details {
  animation: fade_in_article 0.5s ease-in-out;
  display: grid;
  place-items: start center;
  padding: 5em 0.5em;
  background: $main-bg-color;
  min-height: calc(100vh + 5em);

  .actor-details--container {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;

    width: 100%;

    @media (min-width: 1200px) {
      width: 80%;
    }
  }

  .actor-details__info {
    display: grid;
    grid-template-areas:
      "image website name"
      "bio bio bio";
    gap: 2em 2em;

    place-items: center;

    padding: 0.75em;
    width: 100%;

    @media (max-width: 768px) {
      img {
        grid-area: image;
      }

      .actor-details__header {
        grid-area: name;
      }

      .actor-details__website {
        grid-area: website;
      }

      .actor-details__biography {
        grid-area: bio;
      }

      grid-template-areas:
        "image image"
        "name name"
        "website website"
        "bio bio";
    }
    img {
      grid-area: image;
      filter: drop-shadow(0 0 0.25em #cbb3e3);
      @media (max-width: 768px) {
        border-radius: 50%;
        width: 9em;
        height: 9em;
      }
    }
  }

  .actor-details__header {
    max-width: 30ch;
    color: $white;
    padding: 0.5em;
    grid-area: name;
    font-size: $defaultFontSizeQuery;
    @media (min-width: 1200px) {
      border-left: 0.05em solid rgba(225, 225, 225, 0.2);
    }

    :nth-child(2) {
      color: $accent;
      text-align: center;
    }
  }

  .actor-details__website {
    padding: 0.5em;
    grid-area: website;
    color: $accent;
    text-align: center;
    font-size: $smallerHeaderSizeQuery;
    @media (min-width: 1200px) {
      border-left: 0.05em solid rgba(225, 225, 225, 0.2);
    }
    a {
      color: $accent;
      text-decoration: 0.05em $accent dotted underline;
      text-underline-offset: 0.25em;
    }
  }

  .actor-details__biography {
    padding: 0.5em;
    word-break: break-all;
    white-space: normal;
    grid-area: bio;

    @media (min-width: 1200px) {
      border-left: 0.05em solid rgba(225, 225, 225, 0.2);
    }

    p {
      max-width: 60ch;
      font-size: $defaultFontSizeQuery;
      color: $white;
    }
  }

  .actor-details__roles {
    header {
      color: $white;
      padding: 0.5em 0;
      text-align: center;
      font-size: $defaultFontSizeQuery;
      span {
        color: $accent;
      }
    }
  }
}

.detail-content {
  display: grid;
  place-items: start center;
  padding: 5em 0.5em;
  background: $main-bg-color;
  min-height: calc(100vh + 5em);

  a {
    color: $accent;
    text-decoration: 0.05em $accent dotted underline;
    text-underline-offset: 0.25em;
  }

  article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
    @media (min-width: 1200px) {
      max-width: 80%;
    }
  }
}

.detail-content__description {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em;
  color: $white;

  @media (max-width: 768px) {
    font-weight: 300;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.detail-content__genre {
  font-size: $defaultFontSizeQuery;
  border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);

  span {
    @include font-weight();
    color: #cbb3e3;
  }
}

.detail-content__title {
  text-transform: uppercase;
  font-size: $defaultFontSizeQuery;
  font-weight: 600;
  max-width: 60ch;
  color: $purple;
  font-family: "Architects Daughter", cursive;
  border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);

  span {
    font-family: "Montserrat", sans-serif;
    @include font-weight();
    color: #cbb3e3;
  }
}

.read-more,
.view-full-cast {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underline dotted $accent;
  text-underline-offset: 0.25em;
  cursor: pointer;
}

.detail-content-trailer {
  margin: 1em 0;
  width: 100%;
  color: $accent;
  text-align: center;
  text-transform: uppercase;

  .detail-content-trailer__video {
    overflow: hidden;
    position: relative;
    padding-bottom: calc(1 / 2 * 100%);
    height: 0;

    p {
      text-align: center;
      font-size: $defaultFontSizeQuery;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      font-weight: 600;
    }
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

.detail-content__cast {
  color: $white;
  padding: 0.5em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  place-items: center;
  gap: 1em 1em;

  .detail-content__cast--actors {
    display: flex;
    flex-flow: row wrap;
    place-items: center;
    justify-content: space-between;
    border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);
    padding: 0.5em;
    width: 100%;
    a,
    p {
      font-size: $defaultFontSizeQuery;
      width: 15ch;

      text-align: right;
      padding: 0.5em;
    }

    :nth-child(3) {
      color: $white;
    }
  }
}

.detail-content__information {
  display: flex;
  flex-flow: row wrap;
  place-items: flex-start;
}

.detail-content__synopsis {
  max-width: 60ch;
  font-size: $defaultFontSizeQuery;
}

.detail-content__image {
  padding: 0.5em;
  img {
    filter: drop-shadow(0 0 0.25em #cbb3e3);
  }
  @media (max-width: 768px) {
    width: 9em;
    height: 9em;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
}

.detail-content__aside {
  color: $white;
  font-size: $defaultFontSizeQuery;
  padding: 0.5em;
  border-left: 0.05em solid rgba(225, 225, 225, 0.2);
  max-width: 40ch;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  @include font-weight();

  span {
    font-weight: 600;
    color: #cbb3e3;
  }
}

.detail-content__background {
  padding: 0.5em;
  border-left: 0.05em solid rgba(225, 225, 225, 0.2);
  @include font-weight();
  header {
    color: $accent;
  }
  p {
    color: $white;
    font-size: $defaultFontSizeQuery;
    max-width: 60ch;
  }
}

footer {
  width: 100%;
  display: grid;
  gap: 2em 2em;
  place-items: center;
  grid-template-rows: auto;
  grid-template-areas: "icons subscribe info";
  padding: 1em;
  background: #444;
  min-height: 10em;
  position: relative;
  overflow: hidden;

  @media (max-width: 768px) {
    grid-template-areas:
      "icons"
      "subscribe"
      "info";

    .footer-icon-stack {
      grid-area: icons;
    }

    .footer-subscribe-stack {
      grid-area: subscribe;
    }

    .footer-description-stack {
      grid-area: info;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 95vw;
    height: 3%;
    margin: 0 auto;
    background: #bae3b3;
    transform: skewX(40deg);
  }

  .footer-icon-stack {
    display: grid;
    place-items: center;
    gap: 1em;

    grid-area: icons;
    grid-template-columns: repeat(2, 1fr);
    a {
      text-decoration: none;
      color: $white;
    }
  }

  .footer-description-stack {
    grid-area: info;
    color: $white;
    font-size: $defaultFontSizeQuery;
    @include font-weight();
    text-align: center;
  }

  .footer-subscribe-stack {
    grid-area: subscribe;
    border-radius: 1em;
    border: 0.15em solid $white;
    background: $white;
    input {
      background: $white;
      padding: 0.5em;
      font-size: $defaultFontSizeQuery;
      border-radius: 1em;
      outline: none;
      border: none;
    }

    button {
      border-radius: 1em;
      outline: none;
      border: none;
      color: $black;
      background: $purple;
      @include font-weight();
      padding: 0.5em;
      font-size: $defaultFontSizeQuery;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
