@import "mixins";
@import "keyframes";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background: $main-bg-color;
  scroll-behavior: smooth;
  scrollbar-color: $accent $main-bg-color;
  scrollbar-width: thin;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.swiper-container {
  width: 95vw;
  height: 25em;

  @media (max-width: 768px) {
    height: 15em;
  }
}

.swiper-wrapper {
  animation: fade_in_article 0.75s ease-in-out;
  .swiper-slide {
    width: 100%;
    height: 100%;

    img {
      object-fit: fill;
      width: 100%;
      height: 25em;

      @media (max-width: 768px) {
        height: 15em;
      }
    }

    article {
      width: 100%;
      transition: all 0.25s ease-in-out;
      overflow: hidden;
      border-radius: 10px;
    }

    .articleInformation {
      display: flex;
      flex-direction: column;
      place-items: center;
      justify-content: space-evenly;
      text-align: center;
      transition: all 0.25s ease-in-out;
      color: $white;
      position: absolute;
      transform: translateY(200%);
      width: 90%;
      height: 70%;
      inset: 0;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.65);
      box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.85);
      border-radius: 0.75em;

      .cardHeader {
        font-size: $mobileFontSizeHeader;
        text-transform: none;
        padding: 0 0.25em;
        font-family: "Raleway", sans-serif;

        @media (max-width: 768px) {
          font-size: $mobileFontSizeMain;
        }
      }

      .cardDetails {
        @include defaultButton();
        @media (max-width: 768px) {
          font-size: $mobileFontSizeSmaller;
        }
      }

      .cardStartDate {
        @media (max-width: 768px) {
          font-size: $mobileFontSizeSmaller;
        }
      }

      @media (max-width: 768px) {
        transform: translateY(40%);
      }
    }
    .active {
      transform: translateY(40%);
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  &::after {
    color: #400a58;
    z-index: 2;
    transform: scale(1.2);
  }
}

nav {
  padding: 0.5em;
  display: flex;
  place-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background: $black;
  transition: all 0.5s ease-in-out;

  .nav-header {
    font-size: $desktopFontSizeHeader;
    font-family: "Raleway", sans-serif;

    a {
      padding: 0 0.4em;
      text-decoration: none;
      color: $white;
    }

    @media (max-width: 768px) {
      font-size: $mobileFontSizeHeader;
    }
  }

  .desktop-nav-links {
    a {
      padding: 0 0.5em;
      text-decoration: none;
      color: $white;
      &:hover {
        border-bottom: 1px solid $accent;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .burger {
    display: none;
    z-index: 10;
    position: fixed;
    right: 0.8em;
    padding: 0.5em;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 50px;

    .bar {
      width: 30px;
      height: 2px;
      background: $white;
      transition: all 0.5s ease-in-out;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

.open {
  :nth-child(1) {
    transform: translate(0, 6px) rotate(40deg);
  }
  :nth-child(2) {
    display: none;
  }
  :nth-child(3) {
    transform: translate(0, -6px) rotate(-40deg);
  }
}

.mobile-nav {
  width: 0;
  transform: translateX(-100vw);
  height: 100%;
  flex-flow: column wrap;
  justify-content: space-evenly;
  place-items: center;
  z-index: 9;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  transition: all 0.25s ease-in;

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.5s ease;
    opacity: 0;
  }

  :nth-child(1) {
    transform: translateX(-100em);
    opacity: 0;
  }

  :nth-child(2) {
    transform: translateX(-100em);
    opacity: 0;
  }

  :nth-child(3) {
    transform: translateX(-100em);
    opacity: 0;
  }
}

.active {
  display: flex;
  width: 50%;
  transform: translateX(0);

  :nth-child(1) {
    opacity: 1;
    transition-delay: 0.15s;
    transform: translateX(0);
  }

  :nth-child(2) {
    opacity: 1;
    transition-delay: 0.25s;
    transform: translateX(0);
  }

  :nth-child(3) {
    opacity: 1;
    transition-delay: 0.35s;
    transform: translateX(0);
  }
}

.hero {
  animation: fade_in_article 0.5s ease-in-out;
  height: calc(100vh - 10em);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: flex-start;
  padding: 0.5em;
  position: relative !important;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../images/hero.jpg") no-repeat center center / cover;
  @media (max-width: 768px) {
    height: 25em;
  }
}

.hero-overlay {
  padding: 0 0.5em;
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 17em;
  animation: fade_in_article 0.5s ease-in-out;
  box-shadow: 0.1em 0.1em 0.9em #000;
  background: rgba(0, 0, 0, 0.65);

  span {
    font-family: "roboto", sans-serif;
    color: $white;
  }

  .hero-overlay__header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    h2 {
      font-size: $desktopFontSizeHeader;
      font-weight: 400;
      text-transform: uppercase;
      color: $accent;
      font-family: "Raleway", sans-serif;
      text-shadow: 0.25em 0.25em 0.3em #000;
    }
    h3 {
      place-self: flex-end;
      color: $white;
      font-size: $mobileFontSizeSmaller;
      font-weight: 400;
      text-shadow: 0.25em 0.25em 0.3em #000;
      border-bottom: 0.05em dotted $accent;
      font-style: italic;
    }
  }

  .hero-overlay__description {
    color: $white;
    font-size: $desktopFontSizeMain;
    max-width: 50ch;
    text-shadow: 2.5px 2.5px 2.5px #000;
    @media (max-width: 768px) {
      font-size: $mobileFontSizeSmaller;
    }
  }

  .hero-overlay__link {
    place-self: flex-end;
    text-decoration: none;
    padding: 0.5em;
    text-transform: uppercase;
    background: $accent;
    color: $night-sky;
    transition: background 0.25s ease-in-out;
    &:hover {
      background: rgba(225, 225, 225, 0.2);
      color: $white;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2em 2em;
  padding: 2em 0;
}

.main-content__header {
  padding: 0 0.75em;
  color: $white;
  text-transform: uppercase;
  font-size: $desktopFontSizeHeader;
  display: flex;
  place-items: center;
  font-family: "Raleway", sans-serif;
  width: 100%;

  &::before,
  &::after {
    @include borders();
    background: $accent;
    margin: 0 0.25em;
  }
  @media (max-width: 768px) {
    font-size: $mobileFontSizeHeader;
  }
}

form {
  border: none;
  outline: none;
  width: 80%;
  max-width: 30em;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1em;
  font-size: $desktopFontSizeMain;

  button {
    padding: 0.5em;
    background: none;
    color: $white;
    font-size: inherit;
    cursor: pointer;
  }

  input {
    padding: 0.5em;
    width: 100%;
    background: transparent;
    outline: none;
    color: $white;
    font-size: $mobileFontSizeMain;
    box-shadow: 0em 0.18em 0.12em -0.12em $white;
    transition: box-shadow 0.25s ease-in-out;

    &::placeholder {
      color: $white;
    }

    &:focus {
      box-shadow: 0.15em 0.15em 0.15em -0.06em lighten($white, 5%),
        -0.09em -0.09em 0.15em -0.06em lighten($white, 5%);
    }
  }
}

.search-content {
  height: calc(100vh - 2em);
  animation: fade_in_article 0.5s ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../images/search.jpg") no-repeat center center/cover;

  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-start;
  gap: 2em;
  header {
    padding: 1em 0.75em;
  }
}

.error {
  color: $white;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  top: 10em;
  padding: 1em;
}

.loading {
  width: 6.2em;
  height: 6.2em;
  border: 0.25em solid $accent;
  border-right: 0.25em solid $night-sky;
  align-self: center;
  border-radius: 50%;
  background: transparent;
  animation: loading_animation 1.5s linear infinite;
}

.discover-content {
  height: calc(100vh - 2em);
  animation: fade_in_article 0.5s ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../images/discover.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-start;
  gap: 2em;
  header {
    padding: 1em 0.75em;
  }
}

select {
  background: $white;
  border: none;
  outline: none;
  color: $black;
  font-size: $desktopFontSizeMain;
  margin: 0 auto;
  padding: 0.25em 0;
  width: 80%;
  @media (max-width: 768px) {
    font-size: $mobileFontSizeSmaller;
  }
}

.about-content {
  height: calc(100vh - 2em);
  animation: fade_in_article 0.5s ease-in-out;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url("../../images/about.jpg") no-repeat center center / cover;
  display: flex;
  place-items: center;
  justify-content: center;

  .about-content__cont {
    header {
      font-size: $desktopFontSizeHeader;
      h2 {
        color: $accent;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .about-content__description {
      padding: 0.5em;

      p {
        max-width: 60ch;
        color: $white;
        text-align: center;
      }
    }
  }
}

.actor-details {
  animation: fade_in_article 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 0.5em;
  background: $main-bg-color;
  min-height: calc(100vh - 2em);

  .actor-details--container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em 2em;
    width: 100%;
  }

  .actor-details__image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    place-items: center;
    gap: 1em;
    padding: 0.75em;
    width: 100%;
    img {
      width: 12.5em;
      height: 18.7em;
      border-radius: 10px;

      @media (max-width: 768px) {
        border-radius: 50%;
        width: 9.35em;
        height: 9.35em;
      }
    }
  }

  .actor-details__header {
    max-width: 30ch;
    color: $white;
    padding: 0.5em;

    :nth-child(1) {
      border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);
    }

    :nth-child(2) {
      color: $accent;
      text-align: center;
    }
  }

  .actor-details__biography {
    padding: 0.5em;
    border-left: 0.05em solid rgba(225, 225, 225, 0.2);
    word-break: break-all;
    white-space: normal;

    p {
      max-width: 60ch !important;
      width: 100%;
      color: $white;
    }
  }

  .actor-details__roles {
    padding: 0.5em;
    header {
      color: $white;
      padding: 0.5em 0;
      text-align: center;
      span {
        color: $accent;
      }
    }
  }
}

.detail-content {
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 0.5em;
  background: $main-bg-color;
  min-height: calc(100vh - 2em);

  a {
    color: $accent;
    text-decoration: 0.05em $accent dotted underline;
    text-underline-offset: 0.25em;
  }

  article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
    @media (min-width: 1200px) {
      max-width: 80%;
    }
  }

  .read-more,
  .view-full-cast {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: underline dotted $accent;
    text-underline-offset: 0.25em;
    cursor: pointer;
  }

  .detail-content__information {
    display: flex;
    flex-flow: row wrap;
    place-items: flex-start;

    .detail-content__image {
      padding: 0.5em;
      @media (max-width: 768px) {
        width: 9em;
        height: 9em;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }
    }

    .detail-content__description {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 0.5em;
      color: $white;

      header {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .detail-content__title {
          text-transform: uppercase;
          font-size: $mobileFontSizeHeader;
          font-weight: 600;
          max-width: 60ch;
          color: $accent;
          font-family: "Raleway", sans-serif;
          border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);

          span {
            font-family: "roboto", sans-serif;
            font-size: $mobileFontSizeMain;
            font-weight: 400;
            color: $white;
          }
        }
      }

      .detail-content__genre {
        font-size: $mobileFontSizeMain;
        color: darken($white, 20%);
        border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);

        span {
          font-weight: 600;
          color: $accent;
        }

        @media (max-width: 768px) {
          font-size: $mobileFontSizeSmaller;
        }
      }

      .detail-content__synopsis {
        max-width: 60ch;
        font-size: $desktopFontSizeMain;

        @media (max-width: 768px) {
          font-size: $mobileFontSizeMain;
        }
      }
    }
  }

  .detail-content__aside {
    color: $white;
    font-size: $mobileFontSizeMain;
    padding: 0.5em;
    border-left: 0.05em solid rgba(225, 225, 225, 0.2);
    max-width: 40ch;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    @media (max-width: 768px) {
      font-size: $mobileFontSizeSmaller;
    }

    span {
      font-weight: bold;
      color: $accent;
    }
  }

  .detail-content-trailer {
    padding: 0.5em;
    margin: 1em 0;
    width: 100%;
    .detail-content-trailer__video {
      overflow: hidden;
      position: relative;
      padding-bottom: calc(1 / 2 * 100%);
      height: 0;

      p {
        text-align: center;
        @include defaultFontSizeQuery();
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        font-weight: 600;
      }
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  .detail-content__cast {
    color: $white;
    padding: 0.5em;
    width: 100%;
    display: flex;
    place-items: center;
    gap: 1em 1em;
    flex-direction: column;
    place-self: end center;
    box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.85);
    .detail-content__cast--actors {
      place-items: center;
      border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);
      flex-wrap: nowrap;
      a,
      p {
        @include defaultFontSizeQuery();
        width: 15ch;
        text-align: right;
      }

      :nth-child(3) {
        color: $white;
      }
    }
  }
}

footer {
  width: 100%;
  color: $white;
  text-align: center;
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 0.5em;
  background: $black;
  font-size: $desktopFontSizeMain;
  height: min-content;

  header {
    a {
      text-decoration: none;
      color: $white;
    }
  }
}
