@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
@-webkit-keyframes mobile_nav_animation {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes mobile_nav_animation {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes loading_animation {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes loading_animation {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes button_animation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes button_animation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes article_information_text {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes article_information_text {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes article_information_date {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes article_information_date {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade_in_article {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in_article {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background: #060607;
  scroll-behavior: smooth;
  scrollbar-color: #e3cdb3 #060607;
  scrollbar-width: thin;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.swiper-container {
  width: 95vw;
  height: 25em;
}

@media (max-width: 768px) {
  .swiper-container {
    height: 15em;
  }
}

.swiper-wrapper {
  -webkit-animation: fade_in_article 0.75s ease-in-out;
          animation: fade_in_article 0.75s ease-in-out;
}

.swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 25em;
}

@media (max-width: 768px) {
  .swiper-wrapper .swiper-slide img {
    height: 15em;
  }
}

.swiper-wrapper .swiper-slide article {
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}

.swiper-wrapper .swiper-slide .articleInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ececec;
  position: absolute;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  width: 90%;
  height: 70%;
  inset: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.85);
          box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.85);
  border-radius: 0.75em;
}

.swiper-wrapper .swiper-slide .articleInformation .cardHeader {
  font-size: 1.15em;
  text-transform: none;
  padding: 0 0.25em;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) {
  .swiper-wrapper .swiper-slide .articleInformation .cardHeader {
    font-size: 1em;
  }
}

.swiper-wrapper .swiper-slide .articleInformation .cardDetails {
  border: none;
  text-transform: uppercase;
  color: #ececec;
  letter-spacing: 0.05em;
  padding: 0.5em;
  outline: 0.35em double white;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline-offset: -0.25em;
  -webkit-transition: outline-offset 0.25s ease-in-out;
  transition: outline-offset 0.25s ease-in-out;
}

.swiper-wrapper .swiper-slide .articleInformation .cardDetails:hover {
  outline: thick double #f1e6d8;
  outline-offset: 0;
}

@media (max-width: 768px) {
  .swiper-wrapper .swiper-slide .articleInformation .cardDetails {
    font-size: 0.875em;
  }
}

@media (max-width: 768px) {
  .swiper-wrapper .swiper-slide .articleInformation .cardStartDate {
    font-size: 0.875em;
  }
}

@media (max-width: 768px) {
  .swiper-wrapper .swiper-slide .articleInformation {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

.swiper-wrapper .swiper-slide .active {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #400a58;
  z-index: 2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  background: #010101;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .nav-header {
  font-size: 1.625em;
  font-family: "Raleway", sans-serif;
}

nav .nav-header a {
  padding: 0 0.4em;
  text-decoration: none;
  color: #ececec;
}

@media (max-width: 768px) {
  nav .nav-header {
    font-size: 1.15em;
  }
}

nav .desktop-nav-links a {
  padding: 0 0.5em;
  text-decoration: none;
  color: #ececec;
}

nav .desktop-nav-links a:hover {
  border-bottom: 1px solid #e3cdb3;
}

@media (max-width: 768px) {
  nav .desktop-nav-links {
    display: none;
  }
}

nav .burger {
  display: none;
  z-index: 10;
  position: fixed;
  right: 0.8em;
  padding: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50px;
  width: 50px;
}

nav .burger .bar {
  width: 30px;
  height: 2px;
  background: #ececec;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  nav .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.open :nth-child(1) {
  -webkit-transform: translate(0, 6px) rotate(40deg);
          transform: translate(0, 6px) rotate(40deg);
}

.open :nth-child(2) {
  display: none;
}

.open :nth-child(3) {
  -webkit-transform: translate(0, -6px) rotate(-40deg);
          transform: translate(0, -6px) rotate(-40deg);
}

.mobile-nav {
  width: 0;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  place-items: center;
  z-index: 9;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.mobile-nav a {
  color: #ececec;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  opacity: 0;
}

.mobile-nav :nth-child(1) {
  -webkit-transform: translateX(-100em);
          transform: translateX(-100em);
  opacity: 0;
}

.mobile-nav :nth-child(2) {
  -webkit-transform: translateX(-100em);
          transform: translateX(-100em);
  opacity: 0;
}

.mobile-nav :nth-child(3) {
  -webkit-transform: translateX(-100em);
          transform: translateX(-100em);
  opacity: 0;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.active :nth-child(1) {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.active :nth-child(2) {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.active :nth-child(3) {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero {
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  height: calc(100vh - 10em);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: flex-start;
  padding: 0.5em;
  position: relative !important;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../images/hero.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../images/hero.jpg") no-repeat center center/cover;
}

@media (max-width: 768px) {
  .hero {
    height: 25em;
  }
}

.hero-overlay {
  padding: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 17em;
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  -webkit-box-shadow: 0.1em 0.1em 0.9em #000;
          box-shadow: 0.1em 0.1em 0.9em #000;
  background: rgba(0, 0, 0, 0.65);
}

.hero-overlay span {
  font-family: "roboto", sans-serif;
  color: #ececec;
}

.hero-overlay .hero-overlay__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.hero-overlay .hero-overlay__header h2 {
  font-size: 1.625em;
  font-weight: 400;
  text-transform: uppercase;
  color: #e3cdb3;
  font-family: "Raleway", sans-serif;
  text-shadow: 0.25em 0.25em 0.3em #000;
}

.hero-overlay .hero-overlay__header h3 {
  place-self: flex-end;
  color: #ececec;
  font-size: 0.875em;
  font-weight: 400;
  text-shadow: 0.25em 0.25em 0.3em #000;
  border-bottom: 0.05em dotted #e3cdb3;
  font-style: italic;
}

.hero-overlay .hero-overlay__description {
  color: #ececec;
  font-size: 1.25em;
  max-width: 50ch;
  text-shadow: 2.5px 2.5px 2.5px #000;
}

@media (max-width: 768px) {
  .hero-overlay .hero-overlay__description {
    font-size: 0.875em;
  }
}

.hero-overlay .hero-overlay__link {
  place-self: flex-end;
  text-decoration: none;
  padding: 0.5em;
  text-transform: uppercase;
  background: #e3cdb3;
  color: #111f28;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.hero-overlay .hero-overlay__link:hover {
  background: rgba(225, 225, 225, 0.2);
  color: #ececec;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em 2em;
  padding: 2em 0;
}

.main-content__header {
  padding: 0 0.75em;
  color: #ececec;
  text-transform: uppercase;
  font-size: 1.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  font-family: "Raleway", sans-serif;
  width: 100%;
}

.main-content__header::before, .main-content__header::after {
  content: "";
  background: #e3cdb3;
  height: 0.05em;
  display: block;
  width: 100%;
  background: #e3cdb3;
  margin: 0 0.25em;
}

@media (max-width: 768px) {
  .main-content__header {
    font-size: 1.15em;
  }
}

form {
  border: none;
  outline: none;
  width: 80%;
  max-width: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.25em;
}

form button {
  padding: 0.5em;
  background: none;
  color: #ececec;
  font-size: inherit;
  cursor: pointer;
}

form input {
  padding: 0.5em;
  width: 100%;
  background: transparent;
  outline: none;
  color: #ececec;
  font-size: 1em;
  -webkit-box-shadow: 0em 0.18em 0.12em -0.12em #ececec;
          box-shadow: 0em 0.18em 0.12em -0.12em #ececec;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

form input::-webkit-input-placeholder {
  color: #ececec;
}

form input:-ms-input-placeholder {
  color: #ececec;
}

form input::-ms-input-placeholder {
  color: #ececec;
}

form input::placeholder {
  color: #ececec;
}

form input:focus {
  -webkit-box-shadow: 0.15em 0.15em 0.15em -0.06em #f9f9f9, -0.09em -0.09em 0.15em -0.06em #f9f9f9;
          box-shadow: 0.15em 0.15em 0.15em -0.06em #f9f9f9, -0.09em -0.09em 0.15em -0.06em #f9f9f9;
}

.search-content {
  height: calc(100vh - 2em);
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../images/search.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../images/search.jpg") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
}

.search-content header {
  padding: 1em 0.75em;
}

.error {
  color: #ececec;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  top: 10em;
  padding: 1em;
}

.loading {
  width: 6.2em;
  height: 6.2em;
  border: 0.25em solid #e3cdb3;
  border-right: 0.25em solid #111f28;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  background: transparent;
  -webkit-animation: loading_animation 1.5s linear infinite;
          animation: loading_animation 1.5s linear infinite;
}

.discover-content {
  height: calc(100vh - 2em);
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../images/discover.png") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../images/discover.png") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
}

.discover-content header {
  padding: 1em 0.75em;
}

select {
  background: #ececec;
  border: none;
  outline: none;
  color: #010101;
  font-size: 1.25em;
  margin: 0 auto;
  padding: 0.25em 0;
  width: 80%;
}

@media (max-width: 768px) {
  select {
    font-size: 0.875em;
  }
}

.about-content {
  height: calc(100vh - 2em);
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, black), to(rgba(0, 0, 0, 0.25))), url("../../images/about.jpg") no-repeat center center/cover;
  background: linear-gradient(90deg, black 50%, rgba(0, 0, 0, 0.25) 100%), url("../../images/about.jpg") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content .about-content__cont header {
  font-size: 1.625em;
}

.about-content .about-content__cont header h2 {
  color: #e3cdb3;
  text-transform: uppercase;
  text-align: center;
}

.about-content .about-content__cont .about-content__description {
  padding: 0.5em;
}

.about-content .about-content__cont .about-content__description p {
  max-width: 60ch;
  color: #ececec;
  text-align: center;
}

.actor-details {
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  padding: 0.5em;
  background: #060607;
  min-height: calc(100vh - 2em);
}

.actor-details .actor-details--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em 2em;
  width: 100%;
}

.actor-details .actor-details__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  gap: 1em;
  padding: 0.75em;
  width: 100%;
}

.actor-details .actor-details__image img {
  width: 12.5em;
  height: 18.7em;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .actor-details .actor-details__image img {
    border-radius: 50%;
    width: 9.35em;
    height: 9.35em;
  }
}

.actor-details .actor-details__header {
  max-width: 30ch;
  color: #ececec;
  padding: 0.5em;
}

.actor-details .actor-details__header :nth-child(1) {
  border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);
}

.actor-details .actor-details__header :nth-child(2) {
  color: #e3cdb3;
  text-align: center;
}

.actor-details .actor-details__biography {
  padding: 0.5em;
  border-left: 0.05em solid rgba(225, 225, 225, 0.2);
  word-break: break-all;
  white-space: normal;
}

.actor-details .actor-details__biography p {
  max-width: 60ch !important;
  width: 100%;
  color: #ececec;
}

.actor-details .actor-details__roles {
  padding: 0.5em;
}

.actor-details .actor-details__roles header {
  color: #ececec;
  padding: 0.5em 0;
  text-align: center;
}

.actor-details .actor-details__roles header span {
  color: #e3cdb3;
}

.detail-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  padding: 0.5em;
  background: #060607;
  min-height: calc(100vh - 2em);
}

.detail-content a {
  color: #e3cdb3;
  -webkit-text-decoration: 0.05em #e3cdb3 dotted underline;
          text-decoration: 0.05em #e3cdb3 dotted underline;
  text-underline-offset: 0.25em;
}

.detail-content article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
  width: 100%;
}

@media (min-width: 1200px) {
  .detail-content article {
    max-width: 80%;
  }
}

.detail-content .read-more,
.detail-content .view-full-cast {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-text-decoration: underline dotted #e3cdb3;
          text-decoration: underline dotted #e3cdb3;
  text-underline-offset: 0.25em;
  cursor: pointer;
}

.detail-content .detail-content__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-items: flex-start;
}

.detail-content .detail-content__information .detail-content__image {
  padding: 0.5em;
}

@media (max-width: 768px) {
  .detail-content .detail-content__information .detail-content__image {
    width: 9em;
    height: 9em;
  }
  .detail-content .detail-content__information .detail-content__image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.detail-content .detail-content__information .detail-content__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  padding: 0.5em;
  color: #ececec;
}

.detail-content .detail-content__information .detail-content__description header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.detail-content .detail-content__information .detail-content__description header .detail-content__title {
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 600;
  max-width: 60ch;
  color: #e3cdb3;
  font-family: "Raleway", sans-serif;
  border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);
}

.detail-content .detail-content__information .detail-content__description header .detail-content__title span {
  font-family: "roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #ececec;
}

.detail-content .detail-content__information .detail-content__description .detail-content__genre {
  font-size: 1em;
  color: #b9b9b9;
  border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);
}

.detail-content .detail-content__information .detail-content__description .detail-content__genre span {
  font-weight: 600;
  color: #e3cdb3;
}

@media (max-width: 768px) {
  .detail-content .detail-content__information .detail-content__description .detail-content__genre {
    font-size: 0.875em;
  }
}

.detail-content .detail-content__information .detail-content__description .detail-content__synopsis {
  max-width: 60ch;
  font-size: 1.25em;
}

@media (max-width: 768px) {
  .detail-content .detail-content__information .detail-content__description .detail-content__synopsis {
    font-size: 1em;
  }
}

.detail-content .detail-content__aside {
  color: #ececec;
  font-size: 1em;
  padding: 0.5em;
  border-left: 0.05em solid rgba(225, 225, 225, 0.2);
  max-width: 40ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

@media (max-width: 768px) {
  .detail-content .detail-content__aside {
    font-size: 0.875em;
  }
}

.detail-content .detail-content__aside span {
  font-weight: bold;
  color: #e3cdb3;
}

.detail-content .detail-content-trailer {
  padding: 0.5em;
  margin: 1em 0;
  width: 100%;
}

.detail-content .detail-content-trailer .detail-content-trailer__video {
  overflow: hidden;
  position: relative;
  padding-bottom: calc(1 / 2 * 100%);
  height: 0;
}

.detail-content .detail-content-trailer .detail-content-trailer__video p {
  text-align: center;
  font-size: 0.875em;
  color: #ececec;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .detail-content .detail-content-trailer .detail-content-trailer__video p {
    font-size: 1.25em;
  }
}

.detail-content .detail-content-trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.detail-content .detail-content__cast {
  color: #ececec;
  padding: 0.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  gap: 1em 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-self: end center;
  -webkit-box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.85);
          box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.85);
}

.detail-content .detail-content__cast .detail-content__cast--actors {
  place-items: center;
  border-bottom: 0.05em solid rgba(225, 225, 225, 0.2);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.detail-content .detail-content__cast .detail-content__cast--actors a,
.detail-content .detail-content__cast .detail-content__cast--actors p {
  font-size: 0.875em;
  width: 15ch;
  text-align: right;
}

@media (min-width: 1200px) {
  .detail-content .detail-content__cast .detail-content__cast--actors a,
  .detail-content .detail-content__cast .detail-content__cast--actors p {
    font-size: 1.25em;
  }
}

.detail-content .detail-content__cast .detail-content__cast--actors :nth-child(3) {
  color: #ececec;
}

footer {
  width: 100%;
  color: #ececec;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  background: #010101;
  font-size: 1.25em;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

footer header a {
  text-decoration: none;
  color: #ececec;
}
