@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;400&display=swap");
@-webkit-keyframes loading_animation {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes loading_animation {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes fade_in_article {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in_article {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #070600;
  z-index: 999;
}

nav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: lowercase;
  width: clamp(80vw, 50em, 93vw);
  margin: 0 auto;
}

nav .nav-header {
  background: url("/src/images/weeb.png") no-repeat center center/cover;
  width: 4em;
  height: 4em;
  margin: 0 0 1em 0;
  z-index: 9999;
}

nav .desktop-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .desktop-nav-links a {
  text-decoration: none;
  color: #ececec;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav .desktop-nav-links a:hover {
  -webkit-text-decoration: underline wavy;
          text-decoration: underline wavy;
}

@media (max-width: 768px) {
  nav .desktop-nav-links {
    display: none;
  }
}

nav .burger {
  display: none;
  z-index: 10;
  position: relative;
  right: 0;
  gap: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

nav .burger .bar {
  width: 3em;
  height: 0.15em;
  background: #ececec;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  nav .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.open :nth-child(1) {
  -webkit-transform: translate(0, 0.7em) rotate(45deg);
          transform: translate(0, 0.7em) rotate(45deg);
}

.open :nth-child(2) {
  -webkit-transform: translateX(-100%) rotate(180deg);
          transform: translateX(-100%) rotate(180deg);
  opacity: 0;
}

.open :nth-child(3) {
  -webkit-transform: translate(0, -0.7em) rotate(-45deg);
          transform: translate(0, -0.7em) rotate(-45deg);
}

.mobile-nav {
  width: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  place-items: center;
  z-index: 9;
  position: fixed;
  top: 0;
  background: #070600;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.mobile-nav a {
  color: #ececec;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
}

.mobile-nav-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-search-stack {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  margin: 0 auto;
  background-color: #ececec;
  border-radius: 2em;
  font-size: clamp(1em, 1.75vw, 1.3em);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: clamp(30vw, 15em, 80vw);
  -webkit-box-shadow: 0.15em 0.15em 0.25em #010101;
          box-shadow: 0.15em 0.15em 0.25em #010101;
  outline: 0 solid transparent;
}

@media (max-width: 768px) {
  .search-form {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    position: absolute;
    top: 200%;
  }
}

.search-form:focus-within {
  outline: 0.1em solid #ffd23f;
}

.search-form input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  color: #010101;
  padding: 0 0.5em;
}

.search-form input::-webkit-input-placeholder {
  color: #010101;
}

.search-form input:-ms-input-placeholder {
  color: #010101;
}

.search-form input::-ms-input-placeholder {
  color: #010101;
}

.search-form input::placeholder {
  color: #010101;
}

.search-form button {
  padding: 0.5em;
  width: 4em;
  background: #ffd23f;
  border-radius: 0em 1em 1em 0;
  color: #010101;
  font-size: inherit;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.searching {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.form-trigger {
  position: relative;
}

.form-trigger-icon {
  color: #ececec;
  cursor: pointer;
}

@media (min-width: 768px) {
  .form-trigger-icon {
    display: none;
  }
}

footer {
  width: 100%;
  padding: 2.5em 0;
  background: #540d6e;
  position: relative;
}

footer .footer-wrapper {
  width: clamp(80vw, 50em, 93vw);
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  place-items: center start;
}

@media (max-width: 768px) {
  footer .footer-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer::before {
  content: "";
  position: absolute;
  top: -2em;
  width: 100%;
  height: 2em;
  background: url("/src/images/wave.svg");
}

footer .footer-icon-stack {
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 1em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer .footer-icon-stack a {
  text-decoration: none;
  color: #ececec;
}

footer .footer-description-stack {
  color: #ececec;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  font-weight: 400;
  text-align: left;
}

footer .footer-description-stack p {
  padding: 0.5em 0;
  max-width: 50ch;
}

footer .footer-description-stack h2 {
  color: #ffd23f;
}

footer .footer-description-stack a {
  text-decoration: underline;
  color: #ffd23f;
  cursor: pointer;
}

.hero {
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  min-height: 35em;
  height: calc(100vh + 5em);
  width: 100%;
  overflow: hidden;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../images/hero-alt.webp") no-repeat center right/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../images/hero-alt.webp") no-repeat center right/cover;
}

.hero-overlay-wrapper {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: clamp(80vw, 50em, 93vw);
  margin: 0 auto;
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  padding: 1em;
}

.hero-overlay-wrapper .hero-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__header h2 {
  font-size: clamp(2.5em, 2.5vw, 4.3em);
  text-transform: uppercase;
  color: #cbb3e3;
  font-family: "Architects Daughter", cursive;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__description {
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  color: #ececec;
  text-shadow: 0 0 0 #ececec;
  max-width: 45ch;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__link {
  place-self: flex-end;
  text-decoration: none;
  padding: 1em 1.75em;
  text-transform: lowercase;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius: 0.5em;
  background: transparent;
  border: 0.15em solid #ffd23f;
  color: #ececec;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__link svg {
  color: #ffd23f;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__link:hover {
  color: #010101;
  background: #ffd23f;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__link:hover svg {
  color: #010101;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__icon-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3em;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__icon-stack a {
  color: #ececec;
  font-size: inherit;
}

.hero-overlay-wrapper .hero-overlay .hero-overlay__icon-stack a:hover {
  text-shadow: 1em 0.5em 1em #ececec;
}

.actor-detail .actor-details__info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image website name" "bio bio bio";
  gap: 2em 2em;
  place-items: center;
}

@media (max-width: 768px) {
  .actor-detail .actor-details__info {
        grid-template-areas: "image image" "name name" "website website" "bio bio";
  }
  .actor-detail .actor-details__info img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: image;
  }
  .actor-detail .actor-details__info .actor-details__header {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: name;
  }
  .actor-detail .actor-details__info .actor-details__website {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: website;
  }
  .actor-detail .actor-details__info .actor-details__biography {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: bio;
  }
}

.actor-detail .actor-details__info img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  -webkit-filter: drop-shadow(0 0 0.15em #ececec);
          filter: drop-shadow(0 0 0.15em #ececec);
}

@media (max-width: 768px) {
  .actor-detail .actor-details__info img {
    border-radius: 50%;
    width: 9em;
    height: 9em;
  }
}

.actor-detail .actor-details__header {
  max-width: 30ch;
  color: #ececec;
  padding: 0.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: name;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
}

.actor-detail .actor-details__header :nth-child(2) {
  color: #ffd23f;
  text-align: center;
}

.actor-detail .actor-details__website {
  padding: 0.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: website;
  color: #ffd23f;
  text-align: center;
  font-size: clamp(1em, 1.75vw, 1.3em);
}

.actor-detail .actor-details__website a {
  color: #ffd23f;
  -webkit-text-decoration: 0.05em #ffd23f dotted underline;
          text-decoration: 0.05em #ffd23f dotted underline;
  text-underline-offset: 0.25em;
}

.actor-detail .actor-details__biography {
  padding: 0.5em;
  word-break: break-all;
  white-space: normal;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bio;
}

.actor-detail .actor-details__biography p {
  max-width: 45ch;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  color: #ececec;
}

.actor-detail .actor-details__roles header {
  color: #ececec;
  text-align: center;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
}

.actor-detail .actor-details__roles header span {
  color: #ffd23f;
}

.anime-card-article {
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  height: 20em;
}

.anime-card-article img {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .anime-card-article {
    height: 15em;
  }
}

.article-information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-items: center;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ececec;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.article-information .card-header {
  text-align: center;
  font-size: clamp(1em, 1.75vw, 1.3em);
  text-transform: none;
  padding: 0 0.25em;
  font-family: "Architects Daughter", cursive;
}

.article-information .card-details {
  border: none;
  outline: none;
  font-weight: normal;
  font-family: inherit;
  padding: 0.25em 0.5em;
  border-radius: 2em;
  text-transform: lowercase;
  background: transparent;
  border: 0.15em solid #ffd23f;
  color: #ececec;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.article-information .card-details:hover {
  background: #ffd23f;
  color: #010101;
}

.article-information .card-start-date {
  font-size: clamp(0.85em, 1.5vw, 1.1em);
}

@media (max-width: 768px) {
  .article-information {
    right: 0;
  }
}

.active {
  right: 0;
}

.swiper-container {
  margin: 2em 0;
  -webkit-box-shadow: 0 0.15em 0 #540d6e;
          box-shadow: 0 0.15em 0 #540d6e;
}

.swiper-wrapper {
  padding: 1em 0;
  -webkit-animation: fade_in_article 0.75s ease-in-out;
          animation: fade_in_article 0.75s ease-in-out;
}

.swiper-wrapper .swiper-slide {
  overflow: hidden;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  z-index: 2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.anime-detail {
  display: -ms-grid;
  display: grid;
  place-items: start center;
  padding: 5em 0.5em;
  background: #070600;
  min-height: calc(100vh + 5em);
}

.anime-detail a {
  color: #ffd23f;
  -webkit-text-decoration: 0.05em #ffd23f dotted underline;
          text-decoration: 0.05em #ffd23f dotted underline;
  text-underline-offset: 0.25em;
}

.anime-detail .anime-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 5em;
  padding: 1em 0;
  width: clamp(80vw, 50em, 93vw);
}

.detail-content__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  padding: 0.5em;
  color: #ececec;
}

.detail-content__description header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.detail-content__title {
  text-transform: uppercase;
  font-size: clamp(1.25em, 2vw, 2.3em);
  max-width: 30ch;
  color: #cbb3e3;
  font-family: "Architects Daughter", cursive;
}

.read-more,
.view-full-cast {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-text-decoration: underline dotted #ffd23f;
          text-decoration: underline dotted #ffd23f;
  text-underline-offset: 0.25em;
  cursor: pointer;
}

.detail-content-trailer {
  width: 100%;
}

.detail-content-trailer .detail-content-trailer__video {
  overflow: hidden;
  position: relative;
  padding-bottom: calc(1 / 2 * 100%);
  height: 0;
}

.detail-content-trailer iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.detail-content__cast {
  color: #ececec;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 1em;
}

.detail-content__cast .detail-content__cast--actors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0.15em 0 #20052a;
          box-shadow: 0 0.15em 0 #20052a;
  width: 100%;
  padding: 0.15em 0;
}

.detail-content__cast .detail-content__cast--actors a,
.detail-content__cast .detail-content__cast--actors p {
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  width: 15ch;
  text-align: right;
}

.detail-content__cast .detail-content__cast--actors :nth-child(3) {
  color: #ececec;
}

.detail-content__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-items: flex-start;
}

.detail-content__synopsis {
  max-width: 60ch;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
}

.detail-content__image {
  padding: 0.5em;
}

.detail-content__image img {
  -webkit-filter: drop-shadow(0 0 0.15em #ececec);
          filter: drop-shadow(0 0 0.15em #ececec);
}

@media (max-width: 768px) {
  .detail-content__image {
    width: 9em;
    height: 9em;
  }
  .detail-content__image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.detail-content__aside {
  color: #ececec;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  padding: 0.5em;
  border-left: 0.1em solid #540d6e;
  max-width: 40ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.detail-content__background {
  padding: 0.5em;
  border-left: 0.1em solid #540d6e;
}

.detail-content__background header {
  color: #ffd23f;
  padding: 0 0 1em 0;
}

.detail-content__background p {
  color: #ececec;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  max-width: 60ch;
}

.error-message {
  color: #ececec;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 0.15em 0.15em 0 #010101;
}

.loading {
  width: 6.2em;
  height: 6.2em;
  border: 0.25em solid #ffd23f;
  border-right: 0.25em solid transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  background: transparent;
  -webkit-animation: loading_animation 1.5s linear infinite;
          animation: loading_animation 1.5s linear infinite;
  position: relative;
}

.main-content__header {
  color: #cbb3e3;
  text-transform: lowercase;
  font-family: "Architects Daughter", cursive;
}

.main-content__header h2 {
  padding: 0 0.5em;
  font-size: clamp(1.25em, 2vw, 2.3em);
  font-weight: 400;
}

*,
::before,
::after {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

html {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #070600;
  scroll-behavior: smooth;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.main-content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  position: relative;
}

.main-content .main-content-wrapper {
  width: clamp(80vw, 50em, 93vw);
  padding: 5em 0;
}

.front-page::before {
  content: "";
  position: absolute;
  top: -2em;
  background: url("/src/images/wave2.svg");
  width: 100%;
  height: 2em;
}

.search,
.discover,
.actor-detail,
.about {
  padding: 5em 0;
  place-items: start center;
  min-height: calc(100vh + 5em);
  -webkit-animation: fade_in_article 0.25s ease-in-out forwards;
          animation: fade_in_article 0.25s ease-in-out forwards;
}

.search {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../images/search.webp") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../images/search.webp") no-repeat center center/cover;
}

.discover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../images/discover.webp") no-repeat top right/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../images/discover.webp") no-repeat top right/cover;
}

.about {
  -webkit-animation: fade_in_article 0.5s ease-in-out;
          animation: fade_in_article 0.5s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, black), to(rgba(0, 0, 0, 0.25))), url("../../images/about.webp") no-repeat center center/cover;
  background: linear-gradient(90deg, black 20%, rgba(0, 0, 0, 0.25) 100%), url("../../images/about.webp") no-repeat center center/cover;
}

.about header {
  font-size: clamp(1em, 1.75vw, 1.3em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  place-items: center;
}

.about header h2 {
  color: #ffd23f;
  text-transform: uppercase;
}

.about header p {
  color: #ececec;
}

.search-wrapper,
.discover-wrapper,
.actor-detail-wrapper,
.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  gap: 2em;
}

.overflow-hidden {
  overflow: hidden;
}

.select-genre {
  background: #ececec;
  color: #010101;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  padding: 0.5em;
  width: clamp(30vw, 15em, 80vw);
  border-radius: 2em;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.select-genre option {
  color: #010101;
}
